<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Laurent Tarallo - CV</title>
		<link rel="shortcut icon" href="./media/icon.png">
		<link rel="stylesheet" href="./css/bootstrap.css">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		<link href="../Projet cv opti/assets/aos/aos.css" rel="stylesheet">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-sm navbar-light fixed-top">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="" class="nav-link active">Laurent Tarallo</a>
						</li>
						<li class="nav-item">
							<a href="/login" class="nav-link">Login</a>
						</li>
						<li class="nav-item">
							<a href="#portfolio" class="nav-link">Portfolio</a>
						</li>
						<li class="nav-item">
							<a href="#fin" class="nav-link">Contact</a>
						</li>
					</ul>

				</div>

			</nav>
			<div>
				<h1 class="aos-item" data-aos="fade-down" data-aos-offset="700" data-aos-delay="50" data-aos-duration="1000" data-aos-once="false" data-aos="zoom-in">Laurent Tarallo</h1>
				<div id="line"></div>
				<h2 class="aos-item" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000" data-aos-once="false">Dev junior en formation</h2>

				<div class="container">
					<div class="row presentation">
						<div class="col-6 col-md-3 infos">
							<h5>
								<i class="fa fa-user">
									43 ans</i>
							</h5>
							<h5>
								<i class="fa fa-compass"></i>
								Marseille</h5>
							<h5>
                            <h5>
								<i class="statut"></i>
								reconnaissance RQTH</h5>
							<h5>
                            <h5>
								<i class="permis"></i>
								Permis A,B</h5>
							<h5>
								<i class="mail">
									laurent.tarallo@orange.fr</i>
							</h5>
						</div>
						<div class="d-none d-md-block col-md-6">
							<p>
								<span class="typed"></span>
							</p>
						</div>
					</p>

					<div class="col-6 col-md-3 photo">
						<img src="./images/lolo4.png" alt="photo-candidat">
					</div>
				</div>
				<!-- <div class="button">
				                    <a href="./media/CV.pdf" target="_blank"> CV en PDF</a>
				                </div> -->


			</div>
		</header>

		<main id="une">
			<div id="particles-js"></div>
			<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
			<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
			<!-- stats.js lib -->
			<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
			<!-- <a href="" target="_blank" rel=""></a> -->
			<section id="languages" class="aos-item" data-aos="fade-up-right" data-aos-offset="500" data-aos-delay="50" data-aos-duration="1000" data-aos-once="true">
				<h3>Languages & Frameworks</h3>
				<div>
					<div class="bar"><img src="./media/html.png" alt="icone-html">HTML</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 50%; background-color: #FF8000">80%</div>

					<div class="bar"><img src="./media/css.png" alt="css-html">CSS</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 50%; background-color: #0080FF">80%</div>

					<div class="bar"><img src="./media/js.png" alt="JS-html">JAVASCRIPT</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 20%; background-color: #ECCE48">50%</div>

					<div class="bar"><img src="./media/bootstrap.png" alt="boostrap-html">BOOTSTRAP</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 50%; background-color: #5858FA">80%</div>

					<div class="bar"><img src="./media/php.png" alt="php-html">PHP</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 1%; background-color: #0404B4">1%</div>

					<div class="bar"><img src="./media/sass.png" alt="sass-html">SASS</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 1%; background-color: #DF0101">1%</div>

					<div class="bar"><img src="./media/react.png" alt="react-html">REACT</div>
					<div class="progress-bar progress-bar-striped
						            progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemax="100" style="width: 1%; background-color: #5EDAFD">1%</div>
				</div>

			</section>


			<section id="formation" class="aos-item" data-aos="fade-up-left" data-aos-offset="500" data-aos-delay="50" data-aos-duration="1000" data-aos-once="true">
				<h3>FORMATION</h3>

				<div>
					<div id="ecoleRI7" class="aos-item" data-aos="fade-up-left" data-aos-offset="100" data-aos-delay="50" data-aos-duration="1000" data-aos-once="true">
						<h4>
							<i class="fa fa-university"></i>
							Ecole RI 7
						</h4>
						<div class="counter">
							<div class="data">
								<div class="counter-value" data-count="700">0</div>
								<span>heures de code</span>
							</div>
							<div class="data">
								<div class="counter-value" data-count="6">0</div>
								<span>Projets réalisés</span>
							</div>
						</div>
					</div>
				</div>
				<div id="fcc" class="aos-item" data-aos="fade-up-left" data-aos-offset="100" data-aos-delay="50" data-aos-duration="1000" data-aos-once="true">
					<h4>
						<i class="fa fa-university"></i>From Scratch
					</h4>
					<div class="counter">
						<div class="data">
							<div class="counter-value" data-count="10">0</div>
							<span>Apprentissage</span>
						</div>
						<div class="data">
							<div class="counter-value" data-count="6">0</div>
							<span>Projets réalisés</span>
						</div>
					</div>
				</div>
			</div>
			<div id="occ" class="aos-item" data-aos="fade-up-left" data-aos-offset="100" data-aos-delay="50" data-aos-duration="1000" data-aos-once="true">
				<h4>
					<i class="fa fa-university"></i>
					OpenClassRooms
				</h4>
				<div class="counter">
					<div class="data">
						<div class="counter-value" data-count="16">0</div>
						<span>Cours suivis</span>
					</div>
					<div class="data">
						<div class="counter-value" data-count="2">0</div>
						<span>Certificats</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html></section></main><section id="parcours"><h3>Parcours</h3><div>
<div class="timeline">
	<div class="aos-item" data-aos="zoom-out-up" data-aos-duration="500" data-aos-once="false">
		<h4>Cuisinier</h4>
		<h6>1995 - 2005(+ extra encore à ce jour)</h6>
		<p>
			<ul>
				<li>1995-1997 CAP de cuisine CFA lycée Hôtelier Bonneveine(obtention)</li>
				<li>1995-1997 Apprenti cuisinier restaurant chez Vincent</li>
				<li>1997-1998 Cuisinier le Grizzly</li>
				<li>1998-1999 second de cuisine restaurant chez Vincent</li>
				<li>1999 Cuisinier les blacassins</li>
				<li>1999-2000 second de cuisine restaurant l'oliveraie</li>
				<li>2001 second de cuisine residence la Marylise</li>
				<li>2002 Chef de cuisine residence la marguerite</li>
				<li>2019 inauguration restaurant Roof Kitchen (extra quelques mois)</li>
				<li>2022 inauguration snack gastronostreet (extra cuisine)</li>
				<li>2022 extra cuisine (prestations événementielles) Roof Kitchen</li>
			</ul>
		</p>
	</div>
</div>

<div class="timeline">
	<div class="aos-item" data-aos="zoom-out-up" data-aos-duration="500" data-aos-once="false">
		<h4>Receveur de péage
		</h4>
		<h6>2002 - 2003</h6>
		<p>
			<ul>
				<li>
					tunnel prado carénage marseille (SMTPC) péager</li>
			</ul>
		</p>
	</div>
</div>
<div class="timeline">
	<div class="aos-item" data-aos="zoom-out-up" data-aos-duration="500" data-aos-once="false">
		<h4>Menuisier pvc
		</h4>
		<h6>
			2003 - 2022</h6>
		<p>
			<ul>
				<li>
					Responsable d'atelier section sanitaire (menuiserie pvc) société ACCOPLAS marseille
				</li>

			</ul>
		</p>
	</div>
</div>

<div class="timeline">
	<div class="aos-item" data-aos="zoom-out-up" data-aos-duration="500" data-aos-once="false">
		<h4>Developpeur web
		</h4>
		<h6>
			2022</h6>
		<p>
			<ul>
				<li>
					Entrée en formation école RI7 :Concepteur développeur d’applications
				</li>
			</ul>
		</p>
	</div>
</div>
<p>
	story to be continued.......</p></div></section><section id="portfolio"><h3>Portfolio</h3><div>
{# <div class="projet">
	<div class="cadre">
		<div class="img-container">
			<a href="https://laurenttarallo.github.io/morpion/" target="_blank">
				<img src="./media/tictactoe.png" alt="projet-1">
			</a>
		</div>
	</div>
	<div class="legende">
		<h4><img src="./media/html.png" alt="html">
			<img src="./media/css.png" alt="css">projet morpion</h4>
		<p>Mon premier projet de morpion personnalisé au goût d'un jeu qui m'a accompagé de nombreuses années.</p>
		<a href="https://github.com/laurenttarallo/morpion" target="_blank">
			<h5>
				<i class="fa fa fa-github"></i>
				> code source du projet</h5>
		</a>
	</div>
</div>

<div class="projet">
	<div class="cadre">
		<div class="img-container">
			<a href="https://laurenttarallo.github.io/quizz/" target="_blank">
				<img src="./media/imgquiz.jpg" alt="projet-2">
			</a>
		</div>
	</div>
	<div class="legende">
		<h4><img src="./media/bootstrap.png" alt="bootstrap"><img src="./media/html.png" alt="html">
			<img src="./media/css.png" alt="css">Projet Quizz</h4>
		<p>Second petit projet d'un quizz de culture générale .</p>
		<a href="https://github.com/laurenttarallo/quizz" target="_blank">
			<h5>
				<i class="fa fa fa-github"></i>
				> code source du projet</h5>
		</a>
	</div>
</div>
<div class="projet">
	<div class="cadre">
		<div class="img-container">
			<a href="https://laurenttarallo.github.io/projet-etoiles-signes-astrologiques/index.html" target="_blank">
				<img src="./media/jameswebb3.png " alt="projet-3">
			</a>
		</div>
	</div>
	<div class="legende">
		<h4>
			<img src="./media/sass.png" alt="SASS"><img src="./media/js.png" alt="html">
			<img src="./media/css.png" alt="css">Projet Andromede</h4>
		<p>premier petit projet de groupe ou nous sommes partis sur le thème de l'astrologie et des étoiles</p>
		<a href="https://github.com/laurenttarallo/projet-etoiles-signes-astrologiques" target="_blank">
			<h5>
				<i class="fa fa fa-github"></i>
				> code source du projet</h5>
		</a>
	</div>
</div>
<div class="projet">
	<div class="cadre">
		<div class="img-container">
			<a href="https://laurenttarallo.github.io/projet-etoiles-signes-astrologiques/index.html" target="_blank">
				<img src="./media/P4.webp " alt="projet-4">
			</a>
		</div>
	</div>
	<div class="legende">
		<h4>
			<img src="./media/bootstrap.png" alt="SASS"><img src="./media/js.png" alt="html">
			<img src="./media/php.png" alt="css">Projet puissance 4</h4>
		<p></p>
		<a href="https://github.com/laurenttarallo/projet-etoiles-signes-astrologiques" target="_blank">
			<h5>
				<i class="fa fa fa-github"></i>
				> code source du projet</h5>
		</a>
	</div>
</div> #}



{% for project in projects %}
<div class="projet">
	<div class="cadre">
		<div class="img-container">
			<a href="{{project.lien}}" target="_blank">
				<img src="./upload/{{project.image}}" alt="projet-1">
			</a>
		</div>
	</div>
	<div class="legende">
		<h4><img src="./media/sass.png" alt="SASS"><img src="./media/js.png" alt="html">
        <img src="./media/bootstrap.png" alt="SASS"><img src="./media/js.png" alt="html">
        <img src="./media/html.png" alt="html">
			<img src="./media/css.png" alt="css">{{project.name}}</h4>
		<p>{{project.description}}</p>
		<a href="{{project.liengithub}}" target="_blank">
			<h5>
				<i class="fa fa fa-github"></i>
				> code source du projet</h5>
		</a>
	</div>
</div>
{% endfor %}

<section id="other-skills">
	<h3>Autres compétences</h3>
	<div class="cloud">
		<div class="aos-item" data-aos="fade-zoom-in" data-aos-delay="500" data-aos-duration="2800">
			<span style="color: red;margin-left: -70%;">github</span>
		</div>
		<div class="aos-item" data-aos="fade-zoom-in" data-aos-delay="500" data-aos-duration="2800">
			<span style="color: rgb(154, 163, 226);margin-left: 70%;">Anglais</span>
		</div>
		<div class="aos-item" data-aos="fade-zoom-in" data-aos-delay="500" data-aos-duration="2800">
			<span style="color: rgb(162, 255, 0);margin-left: 0;">Figma</span>
		</div>
		<div class="aos-item" data-aos="fade-zoom-in" data-aos-delay="500" data-aos-duration="2800">
			<span style="color: rgb(255, 162, 13);margin-left: -70%;">
				Twig</span>
		</div>
		<div class="aos-item" data-aos="fade-zoom-in" data-aos-delay="500" data-aos-duration="2800">
			<span style="color: rgb(242, 13, 192);margin-left: 70%;">
				mongo db</span>
		</div>
	</div>
</section></div></section><section id="hobbies"><h3>HOBBIES</h3><div class="pictures">

<div class="flip-box">
	<div class="flip-box-inner">
		<div class="flip-box-front">
			<img src="./media/PATES CARBO.png" alt="pates">
		</div>
		<div class="flip-box-back" style="background-color: rgb(140, 28, 245);">
			<div>
				<p>cuisine italienne</p>
				<p>cuisine orientale</p>
				<p>cuisine asiatique</p>
				<p>patisserie</p>
			</div>
		</div>
	</div>
</div>

<div class="flip-box">
	<div class="flip-box-inner">
		<div class="flip-box-front">
			<img src="./media/sac-special-motocross-300x300.jpg" alt="moto">
		</div>
		<div class="flip-box-back" style="background-color: rgb(28, 169, 245);">
			<div>
				<p>moto cross / moto</p>
				<p>mécanique / bricolage</p>
				<P>montage et tunning pc</P>
			</div>
		</div>
	</div>
</div>

<div class="flip-box">
	<div class="flip-box-inner">
		<div class="flip-box-front">
			<img src="./media/CINEMAHOBBIES.jpg" alt="cine">
		</div>
		<div class="flip-box-back" style="background-color: rgb(245, 104, 28);">
			<div>
				<p>films/series</p>
				<p>documentaires</p>
				<p>jeux video</p>
				<p>lecture</p>
			</div>
		</div>
	</div>
</div>
<div class="flip-box">
	<div class="flip-box-inner">
		<div class="flip-box-front">
			<img src="./media/science.jpg" alt="science">
		</div>
		<div class="flip-box-back" style="background-color: rgb(68, 245, 28);">
			<div>
				<p>sciences</p>
				<p>high-tech</p>
			</div>
		</div>
	</div>
</div></div></section>
<footer><h3>contactez-moi</h3><div class="footer-icons">
<div id="fin">
	<a href="https://twitter.com/?lang=fr" class="network">
		<i class="fa fa-twitter"></i>
	</a>
</div>
<div>
	<a href="https://www.linkedin.com/in/laurent-tarallo/" class="network">
		<i class="fa fa-linkedin"></i>
	</a>
</div>
<div>
	<a href="https://github.com/laurenttarallo" class="network">
		<i class="fa fa-github"></i>
	</a>
</div></div><div class="form-container">
<form id="reused_form" action="/sendMail" method="POST">
	<div>
		<input id="name" type="text" name="name" placeholder="Nom" required class="validate"/>
	</div>

	<div>
		<input id="email" type="email" name="email" placeholder="E-mail" required class="validate"/>
	</div>
	<div>
		<textarea id="message" name="message" placeholder="Ici votre message..." class="validate"></textarea>
	</div>
	<div>
		<button id="btnMail" class="form-button" type="button">Envoyer</button>
	</div>
</form>

<div id="error_message" style="width: 100%; height: 100%; display: none">
	<h4>Une erreur s'est produite, veuillez rééssayer</h4>
</div>
<div id="success_message" style="width: 100%; height: 100%; display: none">
	<h4>Message envoyé !</h4>
</div></div><div class="arrow">
<a href="#">
	<i class="fa fa-sort-up"></i>
</a></div><p>Laurent tarallo © 2022</p></footer><script src="./js/jquery.min.js" type="text/javascript"></script><script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script><script src="./Projet cv opti/aos/aos.js"></script><script src="./form/form.js"></script><script src="./js/typed.min.js" type="text/javascript"></script><script src="./js/script.js" type="text/javascript"></script><script src="./js/main.js"></script></body></html>
